* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f9fafc;
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* Media Queries Mixin **********************/
.header--principal {
  display: flex;
  padding: 0 20px 20px 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #ebebeb;
  justify-content: space-between;
  align-items: center;
}
.header--principal .logo {
  display: flex;
  align-items: center;
}
.header--principal .logo img {
  width: 80px;
  height: 80px;
}
.header--principal .logo span {
  color: #8841da;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-left: 10px;
}

.nav--header ul {
  display: none;
}
.nav--header ul li {
  list-style: none;
  margin-right: 50px;
}
.nav--header ul a {
  text-decoration: none;
  color: #3f579a;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.nav--header ul a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 992px) {
  .nav--header ul {
    display: flex;
  }
}

.header__busqueda {
  text-decoration: none;
}
.header__busqueda:hover {
  text-decoration: none;
}
.header__busqueda i {
  font-size: 20px;
  margin-right: 10px;
  color: #8841da;
}
.header__busqueda span {
  color: #3f579a;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.footer--principal {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 20px 20px 20px;
  background-color: #333333;
}
.footer--principal .logo {
  display: flex;
  align-items: center;
}
.footer--principal .logo img {
  width: 80px;
  height: 80px;
}
.footer--principal .logo span {
  color: #8841da;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-left: 10px;
}
@media only screen and (min-width: 1200px) {
  .footer--principal {
    flex-direction: row;
  }
}

.nav--footer ul {
  display: none;
}
.nav--footer ul li {
  list-style: none;
  margin-right: 50px;
}
.nav--footer ul a {
  text-decoration: none;
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.nav--footer ul a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .nav--footer ul {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
  }
}

.nav--social ul {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
}
.nav--social li {
  list-style: none;
  margin-right: 30px;
  color: #fff;
}
.nav--social a {
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (min-width: 992px) {
  .nav--social {
    display: flex;
    justify-content: flex-end;
  }
  .nav--social ul {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=index.css.map */
