header.header--principal 
    .logo.logo--header
        img(src="../images/console.svg")
        span Games
    a(href="#" class="header__busqueda")
        i.fas.fa-search 
        span Search
    nav.nav--header: ul 
        li: a(href="pagina-principal.html") Home 
        li: a(href="perfil.html") Perfil 
        li: a(href="articulo.html") Articulo
        li: a(href="resultados-busqueda.html") Busqueda 