.contenedor--cajas {
  width: 100%;
  @include media(tablet) {
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 2.5%;
  }
}

.caja {
  width: 90%;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  &__imagen {
    width: 100%;
    margin-bottom: 5px;
    img {
      width: 100%;
    }
  }
  &__categoria {
    @include titulos($Fuente2);
  }
  p {
    margin-bottom: 20px;
  }
  h3 {
    @extend p;
  }
}

.caja--con-fondo {
  display: flex;
  justify-content: center;
  box-shadow: none;
  position: relative;
  overflow: hidden;
  background-color: $color-primario;
  border-radius: 20px;
  margin: 5px;
  height: 250px;
  img {
    display: block;
    max-width: 100%;
    max-height: auto;
    position: absolute;
    opacity: 0.3;
    object-fit: cover;
    height: 100%;
  }
  &__contenido {
    display: block;
    padding: 20px;
    margin-bottom: 10px;
    position: absolute;
    text-align: center;
    color: $color-claro;
    p {
      color: $color-claro;
    }
    h3 {
      color: $color-claro;
    }
  }
  &__categoria {
    display: block;

    width: auto;
    max-width: 100px;
    margin: 0 auto;
    text-align: center;
    background-color: $color-secundario;
    color: $color-claro;
    margin-bottom: 10px;
    @include titulos($Fuente2);
  }
}

.caja--grande {
  h2 {
    @include titulos($Fuente2);
    @include font-size(20px);
  }
  p {
    display: none;
  }
  .caja--con-fondo__contenido {
    padding-top: 25px;
  }
}
