.footer--principal {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 20px 20px 20px;
  background-color: $color-primario;
  & .logo {
    display: flex;
    align-items: center;
  }
  & .logo img {
    width: 80px;
    height: 80px;
  }
  & .logo span {
    color: $color-secundario;
    @include titulos($Fuente2);
    @include font-size(24px);
    margin-left: 10px;
  }
  @include media(desktop-m) {
    flex-direction: row;
  }
}

.nav--footer ul {
  display: none;

  li {
    list-style: none;
    margin-right: 50px;
  }
  a {
    text-decoration: none;
    color: $color-claro;
    @include titulos($Fuente2);
  }
  a:hover {
    text-decoration: underline;
  }
  @include media(tablet) {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
  }
}

.nav--social {
  ul {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
  }
  li {
    list-style: none;
    margin-right: 30px;
    color: $color-claro;
  }
  a {
    color: $color-claro;
    @include titulos($Fuente2);
  }
  @include media(desktop-s) {
    display: flex;
    justify-content: flex-end;
    ul {
      width: 100%;
      display: flex;
      margin: 0;
      justify-content: space-between;
    }
  }
}
