.header--principal {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 20px 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #ebebeb;
  justify-content: space-between;
  align-items: center;
  & .logo {
    display: flex;
    align-items: center;
  }
  & .logo img {
    width: 80px;
    height: 80px;
  }
  & .logo span {
    color: $color-secundario;
    @include titulos($Fuente2);
    @include font-size(24px);
    margin-left: 10px;
  }
  @include media(tablet) {
    & .logo {
      order: 1;
    }
    .header__busqueda {
      order: 3;
    }
    .nav--header {
      order: 2;
    }
  }
}

.nav--header {
  margin: 0 auto;
}

.nav--header ul {
  display: flex;
  width: 100%;

  li {
    list-style: none;
    margin-right: 10px;
    margin-left: 10px;
  }
  a {
    text-decoration: none;
    color: $color-variacion;
    @include titulos($Fuente2);
    &:hover {
      text-decoration: underline;
    }
  }

  @include media(desktop-s) {
    display: flex;
    li {
      margin-right: 50px;
    }
  }
}

.header__busqueda {
  // display: none;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
  i {
    font-size: 20px;
    margin-right: 10px;
    color: $color-secundario;
  }
  span {
    color: $color-variacion;
    @include titulos($Fuente2);
  }
  // @include media(desktop-s) {
  //   display: flex;
  // }
}
